.tile {
  width: 40px;
  height: 40px;
  display: inline-block;
  background-color: rgb(207, 207, 207);
  border: solid 1px; 
}

.wall {
  background-color: blue;
}

.pac-man {
  background-color: green;
}

.food {
  border-radius: 50%;
  background-color: yellow;
  width: 40%;
  height: 40%;
  margin: auto;
  margin-top: 30%;
}