.tile {
  width: 40px;
  height: 40px;
  display: inline-block;
  background-color: rgb(207, 207, 207);
  /* border: solid 0.25px; */
}

.wall {
  background-color: blue;
}

.pac-man {
  background-color: green;
}
