.parent {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.parent-select {
  width: 50%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  position: absolute;
  height: 100%;
  padding: 0.5% 0;
  left:  0;
}

.trigger {
  width: 15vmin;
  height: 5vmin;
}

.count {
  margin-bottom: 1%;
}

.count input {
  width: 15vmin;
  box-sizing: border-box;
  padding: 0.5rem 0.8rem 0.5rem 0.8rem;
  margin: 0.9vw 0;
  border: 0;
  border-radius: 5px;
  font-size: 22px;
}